<section class="formulas-config">
 
    <div class="opciones">
      <h1>Elementos</h1>
      <button (click)="appendToFormula('intg')">Integridad</button>
      <button (click)="appendToFormula('disp')">Disponibilidad</button>
      <button (click)="appendToFormula('conf')">Confidencialidad</button>
    </div>
 
    <div class="calculadora">
      <div class="formula">
        {{ formula }}
        
      </div>
      <div class="button-agregar">
        <button (click)="agregarFormula()">Agregar fórmula</button>
      </div>
      <div class="resultado" *ngIf="result !== null">
        Resultado: {{ result }}
      </div>
 
      <div class="error" *ngIf="error">
        Error: {{ error }}
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('(')">(</button>
        <button (click)="appendToFormula(')')">)</button>
        <button (click)="appendToFormula('%')">%</button>
        <button (click)="clearFormula()">AC</button>
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('7')">7</button>
        <button (click)="appendToFormula('8')">8</button>
        <button (click)="appendToFormula('9')">9</button>
        <button (click)="appendToFormula('/')">÷</button>
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('4')">4</button>
        <button (click)="appendToFormula('5')">5</button>
        <button (click)="appendToFormula('6')">6</button>
        <button (click)="appendToFormula('*')">x</button>
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('1')">1</button>
        <button (click)="appendToFormula('2')">2</button>
        <button (click)="appendToFormula('3')">3</button>
        <button (click)="appendToFormula('-')">-</button>
      </div>
 
      <div class="btn-calculadora">
        <button (click)="appendToFormula('0')">0</button>
        <button (click)="appendToFormula('.')">.</button>
        <button (click)="calculateFormula()">=</button>
        <button (click)="appendToFormula('+')">+</button>
      </div>
    </div>
  </section>

<section class="formulas">
  <h1>Fórmulas creadas</h1> 
  <div *ngFor="let f of formulas" style="display: flex; align-items: center; margin-bottom: 8px; justify-content: space-between;">
    <div style="display: flex; align-items: center;">
      <input
        type="radio"
        name="formulaSeleccionada"
        [value]="f.formula"
        [checked]="f.estado === 'activo'"
        (change)="onSeleccionarFormula(f)"
      />
      <span style="margin-left: 8px;">{{ f.formula }}</span>
  
      <span *ngIf="f.estado === 'activo'" style="color: green; font-weight: bold; margin-left: 10px;">
        (Fórmula activa)
      </span>      
      <span *ngIf="f.default === true" style="color: #004080; font-weight: bold; margin-left: 10px;">
        (Fórmula por defecto)
      </span> 
    </div>
  
    <button class="button-delete" 
      (click)="eliminarFormula(f)">Eliminar</button>
  </div>
</section>
  
  