.formulas-config {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.opciones {
    width: 800px;
    border: 1px solid #004080;
    padding: 10px;
    box-sizing: border-box;
}
h1 {
    font-size: 1.2rem;
    color: #004080;
    margin-bottom: 10px;
}

.opciones button {
    width: 100%;
    margin-bottom: 10px;
    background-color: #004080;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.calculadora {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.formula {
    width: 400px;
    height: 60px;
    border: 1px solid #004080;
    margin-bottom: 10px;
    background-color: white;
}

.btn-calculadora {
    width: 400px;
    display: flex;
    gap: 10px;
}

.btn-calculadora button {
    background-color: #004080;
    color: white;
    border: none;
    width: 95px;
    height: 40px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-calculadora button:hover{
    background-color: #01AFBA;
}

.formulas{
    border: 1px solid #004080;
    width: 1180px;
    padding: 20px;
    margin-left: 20px;
}
.button-agregar button{
    background-color: #004080;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px ;
}

.button-delete {
    margin-left: 10px;  
    background-color: #DC3545;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px ;
}

