<section class="table-container">
    <table>
        <thead>
            <tr>
                <th>Controles ISO 27002:2022</th>
                <th>Grupo</th>
                <th>Numeral</th>
                <th>Implementado</th>
                <th>Estado de implementación del control</th>
                <th>Mas informacion dada por el entrevistado</th>
                <th>Calificación Madurez (%)</th>
                <th>Modelo de Madurez CMM</th>
                <th>Recomendaciones del auditor para el plan de tratamiento </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
            </tr>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
            </tr>
        </tbody>
    </table>
</section>
