<section class="resumen-table">
    <h2>Tabla de resumen de analisis GAP</h2>
    <table>
        <thead>
            <tr class="encabezados">
                <th rowspan="2">Controles ISO 27002:2022</th>
                <th rowspan="2">Codigo Norma</th>
                <th colspan="4">CONTROLES</th>
                <th colspan="3">MADUREZ</th>
            </tr>
            <tr>
                <th>Total controles</th>
                <th>No. Controles aplicados</th>
                <th>No. Controles no aplicados</th>
                <th>No. Controles N/A</th>
                <th>Estado Deseado (%)</th>
                <th>Estado Actual (%)</th>
                <th>Calificación Madurez</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
                <td>Prueba</td>
            </tr>
        </tbody>
    </table>
</section>


<h2>Tablas conteos generales</h2>
<section class="container-table">
    <table>
        <thead>
            <tr>
                <th>Promedio madurez:</th>
                <th>Calificación madurez:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0%</td>
                <td>Inexsistente</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Controles faltantes:</th>
                <th>Controles que no aplican:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0%</td>
                <td>Inexsistente</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="list-controls">
    <h1>Listado de controles</h1>
    <table>
        <thead>
            <tr>
                <th>Listado controles faltantes</th>
                <th>Listado controles que no aplican</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Vacio</td>
                <td>Vacio</td>
            </tr>
        </tbody>
    </table>
</section>

<h1>Calificación actuales madurez controles</h1>
<section class="grafica">
    <canvas baseChart
        [data]="radarChartData"
        [type]="radarChartType"
        [options]="radarChartOptions">
    </canvas>  
</section>