<app-navbar></app-navbar>
<section class="page-principal">
  <h1>Plan estrategico de la seguridad de la información (PESI) </h1>
  
  <div class="card-container">
    <div class="card" *ngFor="let card of cards">
      <div class="card-title">
        <h1>{{ card.title }}</h1>
      </div>
      <div class="card-description">
        <p>{{ card.text }}</p>
      </div>
      <div class="card-button">
        <button class="btn" [routerLink]="card.link">{{card.boton}}</button>
      </div>
    </div>
  </div>
</section>  

  
