<section class="tablas">
    <table>
        <caption class="button-defect">
            <button (click)="restablecerTipoAtivo()">Restaurar a valores por defecto</button>
        </caption>
        <thead>
            <tr>
                <th>Tipos de activos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tipodeactivo">
                <td> {{ item.nombre }} </td>
                <td>
                    <button (click)="eliminar(item)">🗑️</button>
                </td>
            </tr>
            <tr>
                <td><input [(ngModel)]="nuevoTipoActivo" /></td>
                <td><button (click)="agregarNuevoTipoActivo()">➕</button></td>
            |</tr>
        </tbody>
    </table>
    <table>
        <caption class="button-defect">
            <button (click)="restablecerProceso()">Restaurar a valores por defecto</button>
        </caption>
        <thead>
            <tr>
                <th>Proceso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of proceso">
                <td> {{item.nombre}}</td>
                <td>
                    <button (click)="eliminarProceso(item)">🗑️</button>
                </td>
            </tr>
            <tr>
                <td><input [(ngModel)]="nuevoProceso"/></td>
                <td><button (click)="agregarNuevoProceso()">➕</button></td>
            |</tr>
        </tbody>
    </table>
</section>

<section class="tablas">
    <table>
        <caption class="button-defect">
            <button (click)="restablecerConfidencialidad()">Restaurar a valores por defecto</button>
        </caption>
        <thead>
            <tr>
                <th>Confidencialidad</th>
                <th>Valor</th>
                <th>Color</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of confidencialidad; let i = index">
                <td> 
                    <input type="text" [(ngModel)]="item.estado" [disabled]="item.is_default">
                </td>
                <td>
                    <input 
                        type="text" 
                        [ngModel]="getValorMostrar(item)"
                        (ngModelChange)="item.valor = $event"
                    >
                </td>
                <td>
                    <input type="color" 
                            [ngModel]="getColorMostrar(item)"
                            (ngModelChange)="item.color = $event">
                </td>
                <td>
                    <button (click)="actualizarConfidencialidad(item)">💾</button>
                    <button (click)="eliminarConfidencialidad(item)">🗑️</button>
                </td>
            </tr>
            <tr>
                <td><input [(ngModel)]="nuevoEstadoConfidencialidad" /></td>
                <td><input [(ngModel)]="nuevoValorConfidencialidad" /></td>
                <td><input type="color" [(ngModel)]="nuevoColorConfidencialidad" /></td>
                <td><button (click)="agregarNuevaConfidencialidad()">➕</button></td>
            </tr>
        </tbody>
    </table>
    <table>
        <caption class="button-defect">
            <button (click)="restablecerIntegridad()">Restaurar a valores por defecto</button>
        </caption>
        <thead>
            <tr>
                <th>Integridad</th>
                <th>Valor</th>
                <th>Color</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of integridad; let i = index">
                <td> 
                    <input type="text" [(ngModel)]="item.estado" [disabled]="item.is_default">
                </td>
                <td>
                    <input type="text"  [ngModel]="getValorMostrar(item)"
                                        (ngModelChange)="item.valor = $event">
                </td>
                <td>
                    <input type="color" [ngModel]="getColorMostrar(item)"
                            (ngModelChange)="item.color = $event">
                </td>
                <td>
                    <button (click)="actualizarIntegridad(item)">💾</button>
                    <button (click)="eliminarIntegridad(item)">🗑️</button>
                </td>
            </tr>
            <tr>
                <td><input [(ngModel)]="nuevoEstadoIntegridad"/></td>
                <td><input [(ngModel)]="nuevoValorIntegridad"/></td>
                <td><input type="color" [(ngModel)]="nuevoColorIntegridad"/></td>
                <td><button (click)="agregarNuevaIntegridad()">➕</button></td>
            |</tr>
        </tbody>
    </table>
</section>

<section class="tablas">
    <table>
        <caption class="button-defect">
            <button (click)="restablecerDisponibilidad()">Restaurar a valores por defecto</button>
        </caption>
        <thead>
            <tr>
                <th>Disponibilidad</th>
                <th>Valor</th>
                <th>Color</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of disponibilidad; let i = index">
                <td> 
                    <input type="text" [(ngModel)]="item.estado" [disabled]="item.is_default">
                </td>
                <td>
                    <input type="text"  [ngModel]="getValorMostrar(item)"
                                        (ngModelChange)="item.valor = $event">
                </td>
                <td>
                    <input type="color" [ngModel]="getColorMostrar(item)"
                            (ngModelChange)="item.color = $event">
                </td>
                <td>
                    <button (click)="actualizarDisponibilidad(item)">💾</button>
                    <button (click)="eliminarDisponibilidad(item)">🗑️</button>
                </td>
            </tr>
            <tr>
                <td><input [(ngModel)]="nuevoEstadoDisponibilidad"/></td>
                <td><input [(ngModel)]="nuevoValorDisponibilidad"/></td>
                <td><input type="color" [(ngModel)]="nuevoColorDisponibilidad"/></td>
                <td><button (click)="agregarNuevoDisponibilidad()">➕</button></td>
            |</tr>
        </tbody>
    </table>

    <table>
        <caption class="button-defect">
            <button (click)="restablecerCriticidad()">Restaurar a valores por defecto</button>
        </caption>
        <thead>
        <tr>
            <th>Criticidad</th>
            <th>Valor Mínimo</th>
            <th>Valor Máximo</th>
            <th>Color</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of criticidad; let i = index">
            <td>
                <input [(ngModel)]="item.estado" [disabled]="item.is_default">
            </td>
            <td>
                <input type="text" [ngModel]="getValorMinMostrar(item)" (ngModelChange)="onValorMinChange(item, $event)">
            </td>
            <td>
                <input type="text" [ngModel]="getValorMaxMostrar(item)" (ngModelChange)="onValorMaxChange(item, $event)">
            </td>
            <td>
                <input type="color" [ngModel]="getColorMostrar(item)" (ngModelChange)="onColorChange(item, $event)">
            </td>
            <td>
                <button (click)="actualizarCriticidad(item)">💾</button>
                <button (click)="eliminarCriticidad(item)">🗑️</button>
            </td>
        </tr>
        <tr>
            <td><input [(ngModel)]="nuevoEstadoCriticidad"/></td>
            <td><input [(ngModel)]="nuevoValorMinCriticidad"/></td>
            <td><input [(ngModel)]="nuevoValorMaxCriticidad"/></td>
            <td><input type="color" [(ngModel)]="nuevoColorCriticidad"/></td>
            <td>
                <button (click)="agregarNuevaCriticidad()">➕</button>
            </td>
        </tr>
        </tbody>
    </table>

    
</section>

<section class="tablas">
    <table>
        <caption class="button-defect">
            <button (click)="restablecerCustodio()">Restaurar a valores por defecto</button>
        </caption>
        <thead>
            <tr>
                <th>Responsable / Custodio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of custodio">
                <td> {{ item.nombre }} </td>
                <td>
                    <button (click)="eliminarCustodio(item)">🗑️</button>
                </td>
            </tr> 
            <tr>
                <td><input [(ngModel)]="nuevoCustodio"/></td>
                <td><button (click)="agregarNuevoCustodio()">➕</button></td>
            |</tr>   
        </tbody>
    </table>
    <table>
        <caption class="button-defect">
            <button (click)="restablecerDatosPersonales()">Restaurar a valores por defecto</button>
        </caption>
        <thead>
            <tr>
                <th>Datos personales</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datospersonales">
                <td> {{ item.nombre }} </td>
                <td>
                    <button (click)="eliminarDatosPersonales(item)">🗑️</button>
                </td>
            </tr>
            <tr>
                <td><input [(ngModel)]="nuevoDatosPersonales"/></td>
                <td><button (click)="agregarNuevoDatosPersonales()">➕</button></td>
            |</tr>
        </tbody>
    </table>
    <table>
        <caption class="button-defect">
            <button (click)="restablecerDuenoActivo()">Restaurar a valores por defecto</button>
        </caption>
        <thead>
            <tr>
                <th>Dueño del activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of duenodeactivo">
                <td> {{ item.nombre }} </td>
                <td>
                    <button (click)="eliminarDuenoActivo(item)">🗑️</button>
                </td>
            </tr>
            <tr>
                <td><input [(ngModel)]="nuevoDuenoActivo"/></td>
                <td><button (click)="agregarNuevoDuenoActivo()">➕</button></td>
            |</tr>
        </tbody>
    </table>
</section>
