.title{
    text-align: center;
    margin-top: 0;
    color: #014380;
}

.button-config{
    text-align: center;
    padding: 10px;
}

.button-config button{
    margin: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #014380;
}

.button-config button:hover{
    text-decoration: underline;
    color: #01AFBA;
    text-underline-offset: 4px;
}

