<section class="table-madurez">
    <table>
        <thead>
            <tr class="titulo-tabla">
                <th colspan="5">CMM Modelo de madurez para la capacidad</th>
            </tr>
            <tr>
                <th>Madurez</th>
                <th>Indica % Madurez</th>
                <th>Descripcion escala Madurez</th>
                <th>Numero de Controles</th>
                <th>% Controles</th>
            </tr>
        </thead>
        <tbody>
            <tr class="inexistente">
                <td>Inexistente</td>
                <td>0%</td>
                <td>Ausencia completa de una política, procedimiento, control, etc legibles</td>
                <td>93</td>
                <td>93%</td>
            </tr>
            <tr class="inicial">
                <td>Inicial</td>
                <td>20%</td>
                <td>El desarrollo apenas ha comenzado y requerirá un trabajo significativo para satisfacer los requisitos</td>
                <td>0</td>
                <td>0%</td>
            </tr>
            <tr class="limitado">
                <td>Limitado</td>
                <td>40%</td>
                <td>Progresando bien pero no completado aún</td>
                <td>0</td>
                <td>0%</td>
            </tr>
            <tr class="definido">
                <td>Definido</td>
                <td>60%</td>
                <td>El desarrollo está más o menos completo aunque con ausencia de detalles y/o no está aún implementado, en cumplimiento vigente ni activamente avalado por la alta dirección.</td>
                <td>0</td>
                <td>0%</td>
            </tr>
            <tr class="gestionado">
                <td>Gestionado</td>
                <td>80%</td>
                <td>El desarrollo está completo, el proceso / control ha sido implementado y recientemente comenzó a operar</td>
                <td>0</td>
                <td>0%</td>
            </tr>
            <tr class="optimizado">
                <td>Optimizado</td>
                <td>100%</td>
                <td>El requisito está plenamente conforme, está plenamente operativo como se espera, está siendo activamente supervisado y mejorado, y hay evidencia sustancial para demostrar todo lo antedicho a los auditores</td>
                <td>0</td>
                <td>0%</td>
            </tr>
        </tbody>
    </table>
</section>