/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    justify-content: center;
    margin-top: 9%;
}

.model-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(210, 210, 210, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modal {
    background: #014380;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    height: 400px;
    text-align: center;
    color: white;
    margin-top: 90px;
}
.modal-top{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.one-group {
    margin: 10px 0px;
    flex: 1; /* Hace que cada div ocupe el mismo espacio */
}

.one-group label,
.two-group label,
.three-group label {
    display: block;
    text-align: left;
}

.one-group select,
.one-group input {
    width: 100%; /* Ajusta el ancho dentro de su contenedor */
    box-sizing: border-box;
    max-width: 250px; /* Limita el ancho máximo */
    height: 20px;
    margin-top: 5px;
}

.two-group input{
    width: 100%;
    height: 60px;
    margin-top: 5px;
}

.three-group{
    margin: 10px 0px;
    flex: 1;
}

.three-group select,
.three-group input{
    width: 100%; /* Ajusta el ancho dentro de su contenedor */
    box-sizing: border-box;
    max-width: 250px; /* Limita el ancho máximo */
    height: 20px;
    margin-top: 5px;
}

.activo{
    background-color: #F2663B;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px;
}
.cancelar{
    background-color: white;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
}
